.navbar_btn_filter {
    width: 200px;
}

.logo {
    width: 150px;
}

.header_fixed {
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
}

.third_nav_img {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    /* object-fit: cover; */
}