@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import url('https://fonts.cdnfonts.com/css/roboto'); */

body,
html {
  overflow-x: hidden;
  background: #fff;
}

* {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 15px;
}

.visible_mobile {
  display: none !important;
}

.bg-dark {
  background: rgb(47, 53, 65) !important;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
}

.bg-success,
.btn-success {
  background: rgb(140, 187, 13) !important;
  border: 1px solid rgb(140, 187, 13) !important;
}

.btn-outline-success {
  border: 1px solid rgb(140, 187, 13) !important;
  color: rgb(140, 187, 13) !important;
}

.text-gray {
  color: #aaa;
}

.bg-gray {
  background: #f5f5f5;
}

.text-success {
  color: rgb(140, 187, 13) !important;
}

.bold-600 {
  font-weight: 600 !important;
}

.bold-700 {
  font-weight: 700 !important ;
}

.radius-0 {
  border-radius: 0px;
}

.radius-right {
  border-radius: 0 10px 10px 0;
}

.radius-left {
  border-radius: 10px 0 0 10px;
}

.border-radius-top {
  border-radius: 10px 10px 0 0;
}

.border-radius-bottom{
  border-radius: 0 0 10px 10px;
}
.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.t-12 {
  font-size: 12px;
}

.t-13 {
  font-size: 13px;
}

.t-14 {
  font-size: 14px;
}

.t-18 {
  font-size: 18px;
}

.t-22 {
  font-size: 22px;
}

.t-10 {
  font-size: 10px;
}

.mt-n0-2 {
  margin-top: -0.2em;
}

.pull-right {
  float: right !important;
}

.w-12 {
  width: 12%;
}

.dVisible {
  display: block !important;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.navbar_second .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar_second .navbar-nav {
  padding-left: 3em;
}

.navbar_third .nav-item {
  margin-left: 50px;
  margin-right: 50px;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box_shadow_2 {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.nav-link.active {
  color: rgb(140, 187, 13) !important;
  font-weight: bold !important;
}

.mainContainer {
  margin-top: 270px;
  background: #fff;
  width: 80% !important;
  min-height: 1500px;
}

.mainContainer_no_margin {
  margin-top: 141px;
}

@media screen and (max-width: 1400px) {
  .mainContainer {
    width: 100% !important;
  }
}

@media screen and (max-width: 1515px) {
  .first_navbar_div .navbar-expand-lg {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1382px) {
  .hidden_1382 {
    display: none;
  }
}

.animate_hidden {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  opacity: 0.5;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.item_caroussel_category {
  height: 23vh;
  width: 220px;
  border-radius: 15px;
  position: relative;
}

.item_caroussel_category .categ_text {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  right: 0;
}

.item_caroussel_category .categ_text a {
  text-decoration: none;
}

.item_caroussel_category_grid {
  height: 23vh;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
}

.item_caroussel_category_grid .categ_text {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  right: 0;
}

.border_radius {
  border-radius: 8px !important;
}

.image_vendor_product_slide {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.w-30 {
  width: 30%;
}

.btn_map_static {
  z-index: 999;
  font-size: 30px;
  bottom: 80px;
  left: 30px;
  padding: 15px;
  padding-left: 22px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.cursor_pointer {
  cursor: pointer !important;
}

.map_img {
  float: left;
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: 8px;
  width: 50%;
}
.navbar-dark .navbar-toggler {
  border: 0px;
}

.openNavbar {
  display: block !important;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  background: rgb(47, 53, 65) !important;
  z-index: 999;
}
.openNavbar ul {
  width: 90%;
  margin: auto;
  display: inline-block;
}
.openNavbar ul li {
  display: inline-block;
  margin-right: 10%;
}
.openNavbar .w-50 {
  width: 95% !important;
  margin: auto;
}

.mobile_menu {
  display: inline-block;
  min-width: 160px;
}
.mobile_menu li {
  display: inline-block;
  margin-right: 10%;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .visible_mobile {
    display: block !important;
  }
  .hidden_mobile {
    display: none !important;
  }
  .navbar_second {
    display: none;
  }

  .navbar_third .navbar-nav {
    display: inline-block !important;
  }

  .navbar_third .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block !important;
  }

  .mainContainer {
    margin-top: 165px;
  }

  footer .col-2,
  footer .col-4 {
    width: 50%;
  }

  footer .offset-1 {
    margin-left: 0%;
  }

  .w-75 {
    width: 95% !important;
  }

  .first_navbar_div .navbar-expand-lg {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 557px) {

  footer .col-2,
  footer .col-4 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .openNavbar .form-control {
    height: 38px;
    margin-top: 8px;
  }
}

.navbar_second .nav-link span {
  font-weight: 700 !important;
}

.img_slide {
  object-fit: cover;
  object-position: center;
}

.swiper_product {
  height: 40vh;
}

.vertical_images img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.swiper_image {
  object-fit: cover;
  object-position: center;
  width: 200px !important;
  height: 300px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: rgb(140, 187, 13) !important;
}

.nav-pills {
  cursor: pointer;
}

.accordion-item {
  background-color: #fff;
  border: 0px solid rgba(0,0,0,.125);
  margin-bottom: 40px;
}
.accordion-button:not(.collapsed) {
  color: initial;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.bottom-0 {
  bottom: 0 !important;
}

.first_sliders_home {
  margin-top: -135px;
}
/** custom css imports */
@import 'login.css';
@import 'products.css';
@import 'vendors.css';

/** custom css imports */