.navbar_btn_filter {
    width: 200px;
}

.logo {
    width: 150px;
}

.header_fixed {
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
}

.third_nav_img {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    /* object-fit: cover; */
}

@media screen and (max-width: 991px) {
    .third_nav_img {
        width: 60px;
        height: 60px;
        border-radius: 7px;
        /* object-fit: cover; */
    }

    .logo {
        width: 110px;
    }
}